@font-face{
    font-family: San-fransisco2;
    src:url("../pro/SF-Pro-Text-Medium.otf");
}

@font-face{
    font-family: San-fransisco3;
    src:url("../pro/SF-Pro-Text-Regular.otf");
}

@font-face{
    font-family: San-fransisco4;
    src:url("../pro/SF-Pro-Text-Light.otf");
}

.divHeader{
    height:2.5em;
    background-color:rgb(66, 66, 69) ;
    position: fixed;
    width:100%;
    z-index:200;
    display: flex;
    align-items: center;
}

.header1{
    display: flex;
    flex-direction: row;
    width:12em;
    justify-content: space-evenly;
    padding-left: 10.8em;
}

.header1 div{
    display: flex;
    align-items: center;
}

.header1 .middleHeader1{
    border-right:1px gray solid;
}

.header1 .middleHeader1::after{
    content: "";
}

.header1 div a{
    text-decoration: none;
    color:rgba(211,211,211,1);
    font-family:San-fransisco-display-regular;
    font-size: 14px;
    font-weight: 400;
}

.header1 div a:hover{
    text-decoration: underline;
}

header{
    height:2.7em;
    background-color: rgba(0, 0, 0,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width:100%;
    z-index:100;
    top:40px;
}

.header{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 80%;
}

.fa-apple{
    font-size:1.2rem
}

.header .fa-solid{
    color:inherit;
    font-size:1rem;
}

.header a{
    font-family:San-fransisco4;
    font-size: 0.75rem;
    color:lightgray;
    font-weight: 400;
    text-decoration: none;
}

.header a:hover{
    color:white;
}